# Registry Service
REGISTRY_SERVICE_URL=http://localhost:3000/api/v1
REGISTRY_API_KEY=test_registry_key

# Payment Service
PAYMENT_SERVICE_URL=http://localhost:3001/api/v1
PAYMENT_API_KEY=abcdef_this_should_be_very_secure

# OpenAI
OPENAI_API_KEY=your_openai_api_key